/* stylelint-disable custom-property-pattern */
/* stylelint-disable selector-class-pattern */
.popover {
  --position-x: calc(50vw - var(--popover-width)/2);
  --position-y: calc(50vh - var(--popover-height)/2);

  position: absolute;
  width: var(--popover-width);
  height: var(--popover-height);
  left: var(--position-x);
  top: var(--position-y);
  z-index: var(--drumkit-popover-zIndex);
}

.popover--style {
  background-color: var(--background-color-alt);

  /* pop-out animation */
  transform: scale(1);
  opacity: 1;
  transition:
    opacity 0.25s cubic-bezier(0.2, 0, 0, 1),
    transform 0.25s cubic-bezier(0.2, 0, 0, 1);
}

@starting-style {
  .popover--style {
    opacity: 0;
    transform: scale(0.1);
  }
}

/* #region drumpart popover */
.drumpart-pop-trigger {
  background-color: rgb(255 250 250 / 0%);
  border-radius: 100%;
  z-index: var(--drumpart-pop-trigger-zIndex);
}

.drumpart-pop-trigger__hover {
  transition: all 0.24s ease-out;
  background-color: rgb(255 250 250 / 20%);
}

#drumkit__pop-triggers-group {
  height: var(--drumkit-area-height);
  width: var(--drumkit-area-width);
  position: absolute;
}

#drumpart-pop-trigger-snare {
  position: absolute;
  top: 45%;
  left: 14%;
  width: 17%;
  height: 20%;
  border-radius: 100%;
}

#drumpart-pop-trigger-hihat-open {
  position: absolute;
  top: 47%;
  left: -4%;
  width: 20%;
  height: 14%;
  border-radius: 0%;
  border-top-left-radius: 150%;
  border-top-right-radius: 150%;
}

#drumpart-pop-trigger-hihat-close {
  position: absolute;
  top: 61%;
  left: -4%;
  width: 20%;
  height: 12%;
  border-radius: 0%;
  border-bottom-left-radius: 150%;
  border-bottom-right-radius: 150%;
}

#drumpart-pop-trigger-crash {
  position: absolute;
  top: 11%;
  left: 8%;
  width: 26%;
  height: 33%;
}

#drumpart-pop-trigger-tom1 {
  position: absolute;
  top: 33%;
  left: 29%;
  width: 13%;
  height: 17%;
}

#drumpart-pop-trigger-tom2 {
  position: absolute;
  top: 35%;
  left: 53%;
  width: 16%;
  height: 20%;
}

#drumpart-pop-trigger-tom3 {
  position: absolute;
  top: 40%;
  left: 68%;
  width: 22%;
  height: 24%;
}

#drumpart-pop-trigger-kick {
  position: absolute;
  top: 24%;
  left: 35%;
  width: 23%;
  height: 32%;
  border-radius: 22%;
}

#drumpart-pop-trigger-ride {
  position: absolute;
  top: 3%;
  left: 55%;
  width: 34%;
  height: 42%;
}

.snare-volume {
  width: 5vw;
  height: 5vh;
}

.drumpart-popover {
  display: grid;
  grid-template-rows: 85% 15%;
  grid-template-columns: repeat(6, 1fr);
}

.drumpart-popover__main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.drumpart-popover__main__component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.drumpart-popover__main__component > * {
  font-size: 2vh;
}

.drumpart-popover__main__component > input {
  width: 30%;
}

.drumpart-popover__main__component > select {
  width: 80%;
  height: 10%;
}

.drumpart-popover__main__component > label {
  user-select: none;
}

.drumpart-popover-button-group {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex: 1;
  width: 100%;
  container-type: size;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.drumpart-popover-button-group > button {
  flex: 1;
  color: var(--font-color);
  font-size: 66cqh;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 3px 3px rgb(190 155 155 / 40%);
}

/* #endregion drumpart popover */

/* #region preset popover */
.load-preset-popover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-preset-popover__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 3%;
  width: 95%;
  height: 95%;
  padding: 4%;
  overflow-y: auto;
  scrollbar-width: none;
}

.preset-card {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 100%;
  height: calc(var(--popover-height) / 5);
  border: 1px solid var(--border-color);
  border-radius: 3%;
}

.preset-card:hover {
  transform: scale(1.05);
  border: 1px solid var(--font-color);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  cursor: pointer;
}

.preset-card:active {
  transform: scale(0.95);
  border: 1px solid var(--border-color);
  transition: all 0.105s cubic-bezier(0.2, 0, 0, 1);
  cursor: pointer;
}

/* #endregion preset popover */
