/* stylelint-disable custom-property-pattern */
/* stylelint-disable selector-class-pattern */
:root {
  --background-color-main: #000;
  --background-color-alt: #242020;
  --border-color: rgb(37 28 22);
  --font-color: #ccc398;
  --drumkit-image-center-adjustment: -7%;
  --drumkit-area-height: 60vh;
  --drumkit-area-width: 75vh;
  --drumkit-popover-trigger-container-width: 65vw;
  --drumkit-popover-trigger-zIndex: 1;
  --drumkit-popover-zIndex: 10;
}

*,
*::before,
*::after {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--background-color-main);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}

button {
  user-select: none;
  background-color: var(--background-color-alt);
}

button:hover {
  border-color: var(--font-color);
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

.drumkit {
  height: var(--drumkit-area-height);
  width: var(--drumkit-area-width);
}

.drumkit__img {
  height: 100%;
  position: relative;
  left: var(--drumkit-image-center-adjustment);
  user-select: none;
}

.preset-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.slider-base {
  cursor: pointer;
  outline: none;
  accent-color: var(--font-color);
}

.slider-master {
  width: 12%;
  height: 6%;
}

.ticker-container {
  --height: 2.5vh;
  --cover-width: 15vw;

  display: flex;
  width: 100vw;
  height: var(--height);
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.ticker__text {
  display: inline-block;
  color: var(--font-color);
  position: absolute;
  z-index: -1;

  /* slightly smaller to prevent it goes out of the box */
  font-size: calc(var(--height) - 0.7vh);

  /* hiding it at default(static style), 
  it will be overwrite by dynamic inline style 
  that set in the js */
  left: 55%;
  white-space: nowrap;
}

.ticker__show-area {
  flex-grow: 1;
  height: var(--height);
}

.ticker__cover {
  width: var(--cover-width);
  height: var(--height);
  background-color: var(--background-color-main);
}

.preset-button {
  color: var(--font-color);
}
