/* stylelint-disable custom-property-pattern */
/* stylelint-disable selector-class-pattern */
:root {
  --background-color-main: #000;
  --background-color-alt: #242020;
  --border-color: rgb(37 28 22);
  --font-color: #ccc398;
  --drumkit-image-center-adjustment: -7%;
  --drumkit-area-height: 60vh;
  --drumkit-area-width: 75vh;
  --drumkit-popover-trigger-container-width: 65vw;
  --drumkit-popover-trigger-zIndex: 1;
  --drumkit-popover-zIndex: 10;
}

*,
*::before,
*::after {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--font-color);
}

body {
  background-color: var(--background-color-main);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}

button {
  user-select: none;
  background-color: var(--background-color-alt);
}

button:hover {
  border-color: var(--font-color);
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

.vertical-flexbox-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selection-style-base,
.selection-style-base::picker(select) {
  appearance: base-select;
  cursor: pointer;
  background-color: var(--background-color-alt);
  position-try-fallbacks: none;
}

.selection-style-base::picker-icon {
  transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  transform: rotate(-90deg);
}

.selection-style-base:open::picker-icon {
  transform: rotate(0deg);
}

.selection-style-base::picker(select) {
  transform: scale(1);
  opacity: 1;
  transition:
    opacity 0.3s cubic-bezier(0.65, 0, 0.35, 1),
    transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  scrollbar-width: none;
}

@starting-style {
  .selection-style-base::picker(select) {
    opacity: 0;
    transform: scale(0.9);
  }
}

/* drumkit */
.drumkit {
  height: var(--drumkit-area-height);
  width: var(--drumkit-area-width);
}

.drumkit__img {
  height: 100%;
  position: relative;
  left: var(--drumkit-image-center-adjustment);
  user-select: none;
}

/* preset buttons group */
.preset-buttons-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  height: 5vh;
  width: 80vw;
  container-type: size;
}

.preset-buttons-group > button {
  height: 100cqh;
  font-size: 50cqh;
}

.preset-button {
  color: var(--font-color);
}

/* slider */
.slider-base {
  cursor: pointer;
  outline: none;
  accent-color: var(--font-color);
}

.slider-master {
  width: 12vw;
  height: 6vh;
}

.slider--vertical {
  transform: rotate(-90deg);
}

/* ticker */
.ticker-container {
  --height: 2.5vh;
  --cover-width: 15vw;

  display: flex;
  width: 100vw;
  height: var(--height);
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.ticker__text {
  display: inline-block;
  color: var(--font-color);
  position: absolute;
  z-index: -1;

  /* slightly smaller to prevent it goes out of the box */
  font-size: calc(var(--height) - 0.7vh);

  /* hiding it at default(static style), 
  it will be overwrite by dynamic inline style 
  that set in the js */
  left: 55%;
  white-space: nowrap;
}

.ticker__show-area {
  flex-grow: 1;
  height: var(--height);
}

.ticker__cover {
  width: var(--cover-width);
  height: var(--height);
  background-color: var(--background-color-main);
}
